.reg-body {
  margin: 0;
  padding: 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 100%;
}
.reg-container h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.reg-container p {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}
.reg-container p a {
  color: #6a0dad;
  text-decoration: none;
}
.reg-container label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.reg-container input[type="text"],
.reg-container input[type="email"],
.reg-container input[type="password"] {
  width: 95.5%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
/* .reg-container .password-reg-container {
  position: relative;
} */
/* .reg-container .password-reg-container input[type="password"] {
  padding-right: 40px;
} */

.reg-container .checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.reg-container .checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}
.reg-container button {
  width: 100%;
  padding: 10px;
  background: var(--button-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.reg-container .terms {
  font-size: 12px;
  color: #999;
  text-align: center;
  margin-top: 20px;
}

.error-messages {
  background: #f8d7da;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}
